!*/
*~
*.log
*.swo
*error_log
*#
.#*
**/.DS_Store
**/.idea
**/__pycache__
/java/NetBeansProjects/GUIFormExamples/nbproject/private/
/java/NetBeansProjects/GUIFormExamples/build/
nohup.out
backups/*.txt
/farecompare/link-monitor/old_logs/*
.*.DS_Store
farecompare/provisioning/backups/20*.txt
.*.swp
farecompare/link-monitor/Farecompare.conf
farecompare/mrtg/scripts/dynamic-cronjobs-hosts.sh
./farecompare/mrtg/scripts/dynamic-cronjobs-hosts.sh
.*BPQBBSUsers.dat.bak
amateur_radio/bpq/*/*.bak
amateur_radio/bpq/*/logs/log*.txt
amateur_radio/bpq/*/Mail/m*.mes
amateur_radio/bpq/*/Traffic*.txt
amateur_radio/bpq/*/BPQBBSUsers.da*
amateur_radio/bpq/*/BPQNODES.da*
amateur_radio/bpq/*/DIRMES.SY*
cpanel
.DS_Store
.idea
.*~
test123
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
com.microsoft.rdc.mac.plist
spn-disco-magic/*
**/*.pyc

**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/tf.plan
**/Gemfile.lock
.idea/*
**/state.tf
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/*-workspace
**/*-scratch.yml
**/scratch.yml

**/api_auth.py
**/*api_auth.py
**/scratch.*
.vscode

**/scratch*.*
json-urllib3-test.py
data.json
